---
layout: default
connectClassActive: 'class="active"'
---

<header class="jumbotron subhead">
        <h1>Blackbox Connect is an intense educational program for startups from around the world.</h1>
        <p class="lead">For 2 weeks 12 international founders who want to dive into Silicon&nbsp;Valley's ecosystem stay together in the <a href="/mansion/">Blackbox Mansion</a> where they learn from, and connect with, a curated network of thought leaders, investors and successful entrepreneurs.</p>
        <p class="lead"> The next program launches in Summer 2012, July 30<sup>th</sup> - August 10<sup>th</sup>.</p>
        <p class="lead align-center"><a href="http://bbconnect-july2012.eventbrite.com/" target="_blank" class="btn btn-large btn-primary">Apply now!</a></p>
</header>

<ul class="nav nav-tabs">
    <li {{page.aboutConnectClassActive}}>
        <a href="/connect/"><i class=" icon-info-sign"></i> About the Program</a>
    </li>
    <li {{page.applicationConnectClassActive}}>
        <a href="/connect/application.html"><i class="icon-pencil"></i> Application Process</a>
    </li>
    <li {{page.previous-programsConnectClassActive}}>
        <a href="/connect/previous-programs.html"><i class="icon-eye-open"></i> Previous Programs</a>
    </li>
    <li {{page.faqConnectClassActive}}>
        <a href="/connect/faq.html"><i class=" icon-question-sign"></i> Frequently Asked Questions</a>
    </li>
</ul>


{{page.content}}
